<li class="list-group-item list-group-item-secondary">AC:{{armor_class}}</li>
<li class="list-group-item list-group-item-secondary">STR:{{strength}}</li>
<li class="list-group-item list-group-item-secondary">DEX:{{dexterity}}</li>
<li class="list-group-item list-group-item-secondary">CON:{{constitution}}</li>
<li class="list-group-item list-group-item-secondary">INT:{{intelligence}}</li>
<li class="list-group-item list-group-item-secondary">WIS:{{wisdom}}</li>
<li class="list-group-item list-group-item-secondary">CHA:{{charisma}}</li>
<li class="list-group-item list-group-item-secondary">Passive Perception:{{pp}}</li>
